<body style='box-sizing: border-box; margin: 0; padding: 0; background: #FFA7C2; font-size: 30px; color:white'>
  <h1 style='text-align:center; line-height:10vh; margin: 10px auto; letter-spacing: 4px; min-height: 10vh; min-width: 90vw; color: white'>HAPPY BIRTHDAY <%= @name%> !!!!! </h1>
  <img style='width: 40vw, margin: 50px' src='https://cdn.pixabay.com/photo/2014/04/03/11/58/cake-312740_960_720.png'>
</body>