<body style='box-sizing: border-box; margin: 0; padding: 0; background: #FFA7C2; font-size: 30px; color:white'>
  <h1 style='text-align:center; line-height:10vh; margin: 10px auto; letter-spacing: 4px; min-height: 10vh; min-width: 90vw; color: white'>Your birthday <%= @name%>  are in <%= @days %> days!!!!! </h1>
  <img style='height: 50vh; margin: 100px 200px' src='https://cdn.pixabay.com/photo/2017/12/10/10/09/coming-soon-3009545_960_720.png'>
</body>