<body style='box-sizing: border-box; margin: 0; padding: 0; background: #FFB5A8'>

<h2 style='text-align:center; line-height:10vh; margin: 20px auto; letter-spacing: 2px; min-height: 10vh; min-width: 90vw; border: 1px solid white; color: white'>Birthday App</h2>
<div style='text-align:center; line-height:10vh; margin: 20px auto; letter-spacing: 2px; min-height: 10vh; min-width: 90vw; color: white'>Please select your date of birth:</div>

<form action="/birthday" method='post' style='text-align:center; line-height:10vh; margin: 10px auto; letter-spacing: 2px; min-height: 10vh; min-width: 90vw; color: white'>
  Birthday:
  <input type="date" name="birthday_date">
  <input type="submit" value="Send">
</form>

</body>