<body style='box-sizing: border-box; margin: 0; padding: 0; background: #FFB5A8; font-size: 30px'>

<h2 style='text-align:center; line-height:10vh; margin: 20px auto; letter-spacing: 2px; min-height: 10vh; min-width: 90vw; border: 1px solid white; color: white'>Birthday App</h2>
<div style='text-align:center; line-height:10vh; margin: 20px auto; letter-spacing: 2px; min-height: 10vh; min-width: 90vw; color: white'>Please select your date of birth:</div>

<form action="/date" method='post' style='text-align:center; line-height:10vh; margin: 10px auto; letter-spacing: 2px; min-height: 10vh; min-width: 90vw; color: white'>
  Birthday:
  <input type="date" name="birthday_date">
   name <input type="text" name="name">
  <input type="submit" value="Send">
</form>

<img src='https://cdn.pixabay.com/photo/2012/04/16/12/37/cake-35805_960_720.png'
style='heigth: 20vh; width: 40vw;margin-left: 50px'>

</body>